doctype html
html
    head
        title= title
    body
        div 
            h2 Hello #{username}
            h2 Status :
                if lineUserId == "null"
                    โปรดยืนยันตัวตันในไลน์
                else
                    ยืนยันตัวตนแล้ว
        if pets 
            div
                ul Pets
                    each pet in pets
                        li
                            a(href="/pet/" + pet._id)= pet.name
        div
            a(href="/createpet") Create pet
        div
            form(name="logout", method="post", action="/api/logout")
                input(type="submit", value="Logout")