//- doctype html
//- html
//-     head
//-         title= title
//-     body
//-         form(name="login", method="post", action="/api/login")
//-             div
//-                 label(for="username") Username
//-                 input(name="username", type="text", placeholder="username")
//-             div
//-                 label(for="password") Password
//-                 input(name="password", type="password", placeholder="password")
//-             div
//-                 input(type="submit", value="Login")
//-         a(href="/signup") Signup


html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')
    title Login | PetBook
    // ICON
    link(rel='icon', href='image/petbook_login_logo.png', sizes='32x32')
    // CORE CSS
    link(href='../css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='../css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='../css/page-center.css', type='text/css', rel='stylesheet', media='screen,projection')
    //- link(href='../css/perfect-scrollbar.css', type='text/css', rel='stylesheet', media='screen,projection')
  body.cyan.loaded
    #login-page.row
      .col.s12.z-depth-4.card-panel
        form.login-form(name="login", method="post", action="/api/login")
          .row
            .input-field.col.s12.center
              img.circle.responsive-img.valign.profile-image-login(src='image/petbook_login_logo.png', alt='')
              p.center.login-form-text PetBook
          .row.margin
            .input-field.col.s12
              i.mdi-social-person-outline.prefix
              input(name="username", type="text")
              label.center-align(for='username') Username
          .row.margin
            .input-field.col.s12
              i.mdi-action-lock-outline.prefix
              input(name="password", type="password")
              label(for='password') Password
          .row
            .input-field.col.s12.m12.l12.login-text
              input#remember-me(type='checkbox')
              label(for='remember-me') Remember me
          .row
            .input-field.col.s12
              input.btn.waves-light.col.s12(type='submit', value="Login")
          .row
            .input-field.col.s6.m6.l6
              p.margin.medium-small
                a(href='/signup') Register Now!
            //- .input-field.col.s6.m6.l6
            //-   p.margin.right-align.medium-small
            //-     a(href='page-forgot-password.html') Forgot password ?
    script(type='text/javascript', src='../js/jquery-1.11.2.js')
    script(type='text/javascript', src='../js/materialize.js')
    script(type='text/javascript', src='../js/perfect-scrollbar.js')
    script(type='text/javascript', src='../js/plugins.js')
