doctype html
html
    head
        title= title
    body
        form(name="signup", method="post", action="/api/signup")
            div
                label(for="username") Username
                input(name="username", type="text", placeholder="username")
             div
                label(for="password") Password
                input(name="password", type="password", placeholder="password")
            div
                label(for="firsName") Firstname
                input(name="firstName", type="text", placeholder="Firstname")
            div
                label(for="lastName") Lastname
                input(name="lastName", type="text", placeholder="Lastname")
            div
                label(for="email") Email
                input(name="email", type="email", placeholder="email")
            div
                label(for="tel") Tel
                input(name="tel", type="text", placeholder="tel")
            div
                input(type="submit", value="Signup")